.alert.confirmation.dialog-pane {
   -fx-background-color: linear-gradient(to top, #2b2c2e, #2a2c31, #2a2b34, #2b2a37, #2d2939);
}

.dialog-pane .label {
   -fx-text-fill: white;
   -fx-font-family: "Chewy";
  -fx-font-size: 20px;
  -fx-background-color: linear-gradient(to top, #2b2c2e, #2a2c31, #2a2b34, #2b2a37, #2d2939);
}
.button {
  -fx-font-family: "Kalam";
  -fx-background-color: linear-gradient(to top, #222223, #28282b, #2e2e33, #35343b, #3c3a43);
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-style: italic;
  -fx-background-radius: 16px;
  -fx-opacity: 0.8;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,1 );
}
#logoutButton{
  -fx-font-family: "Kalam";
  -fx-background-color: linear-gradient(to top, #222223, #272c33, #233942, #1c464b, #1d534c);
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-style: italic;
  -fx-background-radius: 16px;
  -fx-opacity: 0.8;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,1 );
}
#ToogleButton{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Kalam";
}
#logoutButton:hover{
    -fx-opacity: 0.5;
}
#logoutButton:pressed{
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}
.button:pressed {
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}
.button:hover {
    -fx-opacity: 0.5;
}

.button:disabled {
  -fx-opacity: 0.4 ;
}

.scroll-pane, .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #202B33;
}
#finalMark{
    -fx-font-family: "Lobster Two";
    -fx-font-size: 70px;
}
#header{
    -fx-font-family: "Lobster Two";
    -fx-font-size: 50px;
}
#logoHeader{
      -fx-font-family: "Lobster Two";
      -fx-font-size: 30px;
}
#usernameHeader{
      -fx-font-family: "Philosopher Bold";
      -fx-font-size: 40px;
      }
#testName{
      -fx-font-family: "Philosopher Bold";
      -fx-font-size: 40px;
}
#text_regular{
  -fx-font-family: "Kalam Light";
  -fx-font-size: 30px;
}
#text_regular_mini{
  -fx-font-family: "Kalam Light";
  -fx-font-size: 26px;
}

#text_semi_russian{
  -fx-font-family: "Philosopher Regular";
  -fx-font-size: 30px;
}

#text_author{
  -fx-font-family: "Kalam Light";
  -fx-font-size: 15px;
}

#text_test_name{
  -fx-font-family: "Philosopher Bold";
  -fx-font-size: 22px;
}

#text_machine{
  -fx-font-family: "Kalam Light";
  -fx-font-size: 22px;
}
#text_question{
  -fx-font-family: "Philosopher Bold";
  -fx-font-size: 30px;
}

#text_question_test{
  -fx-font-family: "Philosopher Bold";
  -fx-font-size: 25px;
}
#text_answer{
  -fx-font-family: "Philosopher Regular";
  -fx-font-size: 20px;
}
#workIndicatorLabel{
   -fx-text-fill: #EFF0F1;
   -fx-font-family: "Chewy";
  -fx-font-size: 24px;
}
#test_description{
  -fx-font-family: "Philosopher Regular";
  -fx-font-size: 22px;
}

#workIndicator{
-fx-background-color: linear-gradient(to top, #2b2c2e, #2a2c31, #2a2b34, #2b2a37, #2d2939);
}

#buttonGrid{
  -fx-font-family: "Kalam";
  -fx-background-color: linear-gradient(to top, #222223, #28282b, #2e2e33, #35343b, #3c3a43);
  -fx-text-fill: white;
  -fx-font-style: italic;
  -fx-opacity: 0.8;
  -fx-background-radius: 0px;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,1 );
  -fx-font-size: 13px;
}

#buttonGrid:hover{
    -fx-opacity: 0.5;
}

#buttonGrid:selected{
    -fx-opacity: 0.1;
}

#textField{
  -fx-font-family: "Zilla Slab Medium Italic";
  -fx-font-size: 24px;
}

#button{
  -fx-font-family: "Chewy";
  -fx-font-size: 20px;
}
#grid-questions{
    -fx-background-color:  #202B33 ;
}
#textArea{
    -fx-text-alignment: center;
      -fx-font-family: "Philosopher Regular";
      -fx-font-size: 17px;
}
#questionsCount{
      -fx-font-family: "Philosopher Regular";
      -fx-font-size: 18px;
}


.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 20 20 20 20;
  -fx-border-width: 4 0 4 0;
  -fx-border-radius: 150px;
  -fx-border-style: dashed;
  -fx-border-color: linear-gradient(to left, #202b33, #19404d, #005860, #00706a, #00876a) linear-gradient(to top, #00876a, #00706a, #005860, #19404d, #202b33) linear-gradient(to right, #202b33, #19404d, #005860, #00706a, #00876a) linear-gradient(to bottom, #00876a, #00706a, #005860, #19404d, #202b33);
}

.separator *.line{
-fx-border-style: solid;
-fx-border-width: 0 0 1 0;
-fx-border-color:  linear-gradient(to right, #1A5460, #19404d, #005860, #19404d, #1A5460);
}


